[submodule "repositories/hyrest"]
	path = repositories/hyrest
	url = https://github.com/Prior99/hyrest.git
[submodule "repositories/node-libpng"]
	path = repositories/node-libpng
	url = https://github.com/Prior99/node-libpng.git
[submodule "repositories/test-decorators"]
	path = repositories/test-decorators
	url = https://github.com/Prior99/test-decorators.git
[submodule "repositories/native-image-diff"]
	path = repositories/native-image-diff
	url = https://github.com/Prior99/native-image-diff.git
